@charset "utf-8";

:root{
  --brand-color:#f1f1f1;
  /* 全体の白色 */
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--brand-color);
  padding: 10px;
  width: 100%;
  height: 80px;
  max-width: 1920px;
  border: 1px solid #000;
  box-sizing: border-box;
  overflow: hidden;
}

header p {
  white-space: nowrap; /* テキストを改行させない */
}

.slogan {
  margin: 0;
}



body {
 
  margin: 0;
  font-family: Arial, sans-serif;
  background:var(--brand-color);
  color: #333;
}

section,
header.main,
#message {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

/* main セクション */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:var(--brand-color);
  color: #000;
  text-align: center;
  font-size: 28px;
  
}

.main img {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.sub-info {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 10px;
  font-size: 14px;
}

.sub-info p {
  margin: 0;
}

.introduction  {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px;
  box-sizing: border-box;
}

/* セクション（コンテンツ） */
.content-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px;
  box-sizing: border-box;
}



.content-block .text {
  max-width: 800px;
}

/* フッター・同意メッセージ */
#message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 50px 20px;
  box-sizing: border-box;
}

#message p {
  margin: 10px 0;
  font-size: 28px;
}

/* YES ボタン */
.yes-button {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 40px;
  background: #fff;
  color: #000;
  text-decoration: none;
  border: 2px solid #fff;
  transition: background 0.3s, color 0.3s, border-color 0.3s;
  font-size: 1.2rem;
}

.yes-button:hover {
  background: #000;
  color: #fff;
  border-color: #fff;
}

/* 「今すぐ使う」リンク */
.soon  {
  display: inline-block;
  margin: 20px auto;
  padding: 10px 30px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border: 2px solid #000;
  transition: background 0.3s, color 0.3s, border-color 0.3s;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
}

.soon:hover {
  background: #fff;
  color: #000;
  border-color: #000;
}

footer {
  width: 100%;
  text-align: center;
  background: #000;
  color: #fff;
  padding: 40px 20px;
  border-top: 1px solid var(--brand-color);
  
}

footer small {
  display: block;
  text-align: left; /* (C) LAZELLIAを左寄せ */
}

footer div a {
  display: inline-block;
  margin: 5px 10px;
  padding: 10px 30px;
  background: #fff;
  color: #000;
  text-decoration: none;
  border: 2px solid #fff;
  transition: background 0.3s, color 0.3s;
}

footer div a:hover {
  background: #000;
  color: #fff;
  

  
}


